<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div classs="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">Cheese Cake</a>
                <a href="#" class="dropdown-item">Carrot Cake</a>
                <a href="#" class="dropdown-item">Chocolate Cake</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cheese-cake-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cheese Cake
            </a>
            <div classs="dropdown-menu border-0" aria-labelledby="cheese-cake-link">
                <a href="" class="dropdown-item">Baked Cheese Cake</a>
                <a href="" class="dropdown-item">Mousse Cheese Cake</a>
                <a href="" class="dropdown-item">Set Cheese Cake</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="carrot-cake-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Carrot Cake
            </a>
            <div classs="dropdown-menu border-0" aria-labelledby="carrot-cake-link">
                <a href="" class="dropdown-item">Brazillian Carrot Cake</a>
                <a href="" class="dropdown-item">Carrot Cake Cupcakes</a>
                <a href="" class="dropdown-item">Carrot loaf Cake</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chocolate-cake-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chocolate Cake
            </a>
            <div classs="dropdown-menu border-0" aria-labelledby="chocolate-cake-link">
                <a href="" class="dropdown-item">Chocolate Fudge Cake</a>
                <a href="" class="dropdown-item">Chocolate Mug Cake</a>
                <a href="" class="dropdown-item">Chocolate lava Cake</a>
            </div>
        </li>
    </ul>
</div>